.at-container {
  position: relative;
  top: 125px;
  margin: 10px auto;
  height: 80px;
  width: 80%;
  border: 2px solid green;
}
.mm-new-game {
  position: absolute;
  bottom: 250px;
}
.mm-check-answer {
  position: relative;
  right: 200px;
  top: 20px;
}
.guess-container {
  position: relative;
  bottom: 27px;
}